* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}
/* estilo container calculadora */
#calc {
  border-radius: 10px;
  background-color: #131313;
  width: 400px;
  padding: 0.5em;
  /* color: #000; */
  display: flex;
  flex-direction: column;
}
/* estilo titulo */
#calc h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
}
/* estilo divs operações */
#operations {
  text-align: right;
}
#previus-operation,
#current-operation {
  color: #fff;
  padding: 0.2em;
  overflow-wrap: break-word;
  min-height: 1.6em;
}
#previus-operation {
  color: #777;
}
#current-operation {
  font-size: 3em;
  font-weight: 700;
}
/*estilo dos botões padrão  e container dos numeros */
#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}
/* estilos gerais dos botões */
#buttons-container button {
  border: 1px solid transparent;
  border-radius: 0;
  height: 4em;
  font-size: 1.35em;
  font-weight: bold;
  background-color: #ffc652;
  cursor: pointer;
}
/* estilos dos botões dos numeros */
#buttons-container .number {
  color: #fff;
  background-color: #474b6b;
}

#buttons-container button:hover {
  background-color: #282a3a;
}
/* estilo botão de igual */
#buttons-container #equal-btn {
  grid-column: span 2;
  background-color: #ffc652;
}
#buttons-container .symbols:hover {
  background-color: #ffab00;
}
#buttons-container #equal-btn:hover {
  background-color: #ffab00;
}
